doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no,width=device-width")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel="stylesheet" href="http://workbook.sean.com/arcgis_js_api4/esri/css/main.css")
    script(src="http://workbook.sean.com/arcgis_js_api4/init.js")
    script(src="./javascripts/index.js")
  body 
    block content